<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optDict</key>
	<dict>
		<key>height</key>
		<real>18</real>
		<key>name</key>
		<string>Menus &amp; Guests</string>
		<key>privacy</key>
		<string>1</string>
		<key>savertn</key>
		<string>1</string>
		<key>width</key>
		<real>42</real>
	</dict>
	<key>tid</key>
	<integer>26</integer>
	<key>valObjTable</key>
	<array>
		<dict>
			<key>optDict</key>
			<dict>
				<key>graph</key>
				<string>1</string>
				<key>privacy</key>
				<string>1</string>
				<key>tbhi</key>
				<string>0</string>
				<key>tbni</key>
				<string>1</string>
				<key>tbnl</key>
				<string>1</string>
			</dict>
			<key>vGraphType</key>
			<integer>1</integer>
			<key>valueName</key>
			<string>menu</string>
			<key>vcolor</key>
			<integer>1</integer>
			<key>vid</key>
			<integer>1</integer>
			<key>vpriv</key>
			<integer>0</integer>
			<key>vtype</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>optDict</key>
			<dict>
				<key>graph</key>
				<string>1</string>
				<key>privacy</key>
				<string>1</string>
				<key>tbhi</key>
				<string>0</string>
				<key>tbni</key>
				<string>1</string>
				<key>tbnl</key>
				<string>1</string>
			</dict>
			<key>vGraphType</key>
			<integer>1</integer>
			<key>valueName</key>
			<string>guests</string>
			<key>vcolor</key>
			<integer>2</integer>
			<key>vid</key>
			<integer>2</integer>
			<key>vpriv</key>
			<integer>0</integer>
			<key>vtype</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
