<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="Content-Type">
  <meta name="description"
 content="Descriptions, images and download links for pre-made trackers to use with rTracker">
  <title>RTracker: Pre-Made Trackers for Download</title>
  <link rel='stylesheet' type='text/css' href='/css/realidata1.css'>
</head>
<body>
<h1>What pre-made trackers are available for rTracker?<br>
</h1>
<h2>Trackers for download</h2>
<table style="text-align: left; width: 100%;" border="1" cellpadding="4" cellspacing="2">
  <tbody>
    <tr>
      <td style="vertical-align: top;">The key feature and design
principle behind rTracker is that it can be configured to track the
things <span style="font-weight: bold;">you</span> care about.&nbsp;
Below are some pre-made trackers to give you some ideas to get started,
or maybe just go ahead and use as they are already.<br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">The <span
 style="font-weight: bold;">Sleep tracker</span><br>
      <br>
    <TMPL_VAR NAME=SLEEP_TXT>
      <br>
      <br>
Click <span style="text-decoration: underline;"><TMPL_VAR NAME=SLEEP_DOWNLOAD></span> on your iPhone to install directly in rTracker, or save ('save as') the linked file
and see <a href="/rTracker/iPhone/QandA/import.html">How to import a tracker or its data?</a><br>
      </td>
      <td style="vertical-align: top;"><img
 style="width: 320px; height: 480px;" alt="Sleep tracker"
 title="Sleep tracker" src="<TMPL_VAR NAME=SLEEP_PNG>"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">The <span
 style="font-weight: bold;">Self tracker</span><br>
      <br>
    <TMPL_VAR NAME=SELF_TXT>
<br>
      <br>
Click <span style="text-decoration: underline;">
<TMPL_VAR NAME=SELF_DOWNLOAD></span> on your iPhone to install directly in rTracker, or save ('save as') the linked file and
see <a href="/rTracker/iPhone/QandA/import.html">How to import a tracker or its data?</a><br>
      </td>
      <td style="vertical-align: top;"><img
 style="width: 320px; height: 480px;" alt="Self tracker"
 title="Self tracker" src="<TMPL_VAR NAME=SELF_PNG>"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">The <span
 style="font-weight: bold;">Menus &amp; Guests tracker</span><br>
      <br>
    <TMPL_VAR NAME=MENUGUEST_TXT>
      <br>
<br>
      <br>
Click <span style="text-decoration: underline;">
<TMPL_VAR NAME=MENUGUEST_DOWNLOAD></span> on your iPhone to install directly in rTracker, or save ('save as') the linked file and see <a href="/rTracker/iPhone/QandA/import.html">How to
import a tracker or its data?</a><br>
      <br>
      </td>
      <td style="vertical-align: top;"><img
 style="width: 320px; height: 480px;" alt="Menus and Guests tracker"
 title="Menus and Guests tracker"
 src="<TMPL_VAR NAME=MENUGUEST_PNG>"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">The <span
 style="font-weight: bold;">Job tracker</span><br>
      <br>
      <TMPL_VAR NAME=JOB_TXT>
<br>
      <br>
Click <span style="text-decoration: underline;">
<TMPL_VAR NAME=JOB_DOWNLOAD></span> on your iPhone to install directly in rTracker, or save ('save as') the linked file and see <a href="/rTracker/iPhone/QandA/import.html">How to import a tracker or
its data?</a><br>
      <br>
      <br>
      </td>
      <td style="vertical-align: top;"><img
 style="width: 320px; height: 480px;" alt="Job tracker"
 title="Job tracker" src="<TMPL_VAR NAME=JOB_PNG>"><br>
      </td>
    </tr>
  </tbody>
</table>
<a name="sample_trackers">
<p>
<br>
<h2>Sample trackers included with rTracker</h2>
</a>
<table style="text-align: left; width: 100%;" border="1" cellpadding="4" cellspacing="2">
  <tbody>
    <tr>
      <td style="vertical-align: top;">The trackers below come
pre-loaded with rTracker.&nbsp; If you delete them, they can be
<a href="/rTracker/iPhone/QandA/usePrivacy.html#passwordReset">re-installed</a> through the iPhone 'Settings' app under rTracker.&nbsp;
<p>
Alternatively, you can install them directly from this page, or download them individually and
install through iTunes. <br>
      <br>
      </td>
      <td style="vertical-align: top;"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">The <span
 style="font-weight: bold;">Car tracker</span><br>
      <br>
      <TMPL_VAR NAME=CAR_TXT>
<br>
      <br>
Click <span style="text-decoration: underline;"><TMPL_VAR NAME=CAR_DOWNLOAD></span> on your iPhone to install directly in rTracker, or save ('save as') the linked file and see <a
 href="/rTracker/iPhone/QandA/import.html">How to import a tracker or its data?</a><br>
      </td>
      <td style="vertical-align: top;"><img
 style="width: 320px; height: 480px;" alt="Car tracker"
 title="Car tracker" src="<TMPL_VAR NAME=CAR_PNG>"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">The <span
 style="font-weight: bold;">Drinks tracker</span><br>
      <br>
<TMPL_VAR NAME=DRINKS_TXT>
<br>
      <br>
Click <span style="text-decoration: underline;">
<TMPL_VAR NAME=DRINKS_DOWNLOAD>
</span> on your iPhone to install directly in rTracker, or save ('save as') the linked file and
see <a href="/rTracker/iPhone/QandA/import.html">How to import a tracker or its data?</a><br>
      </td>
      <td style="vertical-align: top;"><img
 style="width: 320px; height: 480px;"
 alt="Drinks tracker - alcohol and caffeine"
 title="Drinks tracker - alcohol and caffeine"
 src="<TMPL_VAR NAME=DRINKS_PNG>"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">The <span
 style="font-weight: bold;">Exercise tracker</span><br>
      <br>
<TMPL_VAR NAME=EXERCISE_TXT>
<br>
      <span style="font-weight: bold;"><br>
      </span> <br>
Click <span style="text-decoration: underline;">
<TMPL_VAR NAME=EXERCISE_DOWNLOAD>
</span> on your iPhone to install directly in rTracker, or save ('save as') the linked file and
see <a href="/rTracker/iPhone/QandA/import.html">How to import a tracker or its data?</a><br>
      </td>
      <td style="vertical-align: top;"><img
 style="width: 320px; height: 480px;"
 alt="Exercise tracker - tailored to you"
 title="Exercise tracker - tailored to you"
 src="<TMPL_VAR NAME=EXERCISE_PNG>"><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">The <span
 style="font-weight: bold;">Finances tracker</span><br>
      <br>
<TMPL_VAR NAME=FINANCES_TXT>
<br>
      <br>
Click <span style="text-decoration: underline;">
<TMPL_VAR NAME=FINANCES_DOWNLOAD>
</span> on your iPhone to install directly in rTracker, or save ('save as') the linked file and
see <a href="/rTracker/iPhone/QandA/import.html">How to import a tracker or its data?</a><br>
      </td>
      <td style="vertical-align: top;"><img
 style="width: 320px; height: 480px;" alt="Finances tracker"
 title="Finances
              tracker"
 src="<TMPL_VAR NAME=FINANCES_PNG>"><br>
      </td>
    </tr>
  </tbody>
</table>
<br>
<ul>
  <li><a href="/rTracker/iPhone/QandA.html">back to Questions</a></li>
  <li><a href="/rTracker/iPhone/QandA/useTracker.html">how to use a tracker</a></li>
  <li><a href="/rTracker/iPhone/QandA/addFunction.html">how to add a function</a></li>
</ul>
<p><br>
</p>
</body>
</html>
