<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${TARGET_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>icon512x512.png</string>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon512x512</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>rTracker rtrk Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.realidata.rTracker.rtrk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Icon512x512.png</string>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon512x512</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>rTracker rtcsv Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.realidata.rTracker.rtcsv</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${TARGET_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLIconFile</key>
			<string>icon120</string>
			<key>CFBundleURLName</key>
			<string>com.realidata.rTrackerA</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${TARGET_NAME}</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>5744</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>1258577c933393b9efe19d630c7f7c618e0420e0</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>rTracker Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.realidata.rTracker.rtrk</string>
			<key>UTTypeSize320IconFile</key>
			<string>Icon512x512</string>
			<key>UTTypeSize64IconFile</key>
			<string>icon120</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>rtrk</string>
				<key>public.mime-type</key>
				<string>application/rTracker</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>rTracker Document rtCSV</string>
			<key>UTTypeIdentifier</key>
			<string>com.realidata.rTracker.rtcsv</string>
			<key>UTTypeSize320IconFile</key>
			<string>Icon512x512</string>
			<key>UTTypeSize64IconFile</key>
			<string>icon120</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>rtcsv</string>
				<key>public.mime-type</key>
				<string>application/rTracker</string>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UITypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rtrk</string>
					<string>RTRK</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>rTracker rtrk Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.realidata.rTracker.rtrk</string>
			<key>UTTypeSize320IconFile</key>
			<string>Icon512x512</string>
			<key>UTTypeSize64IconFile</key>
			<string>icon120</string>
		</dict>
		<dict>
			<key>UITypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rtcsv</string>
					<string>RTCSV</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>rTracker rtcsv Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.realidata.rTracker.rtcsv</string>
			<key>UTTypeSize320IconFile</key>
			<string>Icon512x512</string>
			<key>UTTypeSize64IconFile</key>
			<string>icon120</string>
		</dict>
	</array>
</dict>
</plist>
