<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>number</string>
	<string>text</string>
	<string>textbox</string>
	<string>slider</string>
	<string>choice</string>
	<string>yes/no</string>
	<string>function</string>
	<string>info</string>
</array>
</plist>
