<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optDict</key>
	<dict>
		<key>height</key>
		<real>18</real>
		<key>name</key>
		<string>🚗 Car</string>
		<key>privacy</key>
		<string>1</string>
		<key>savertn</key>
		<string>1</string>
		<key>width</key>
		<real>60</real>
	</dict>
	<key>tid</key>
	<integer>1</integer>
	<key>valObjTable</key>
	<array>
		<dict>
			<key>optDict</key>
			<dict>
				<key>autoscale</key>
				<string>1</string>
				<key>graph</key>
				<string>1</string>
				<key>nswl</key>
				<string>1</string>
				<key>privacy</key>
				<string>1</string>
			</dict>
			<key>vGraphType</key>
			<integer>2</integer>
			<key>valueName</key>
			<string>odometer</string>
			<key>vcolor</key>
			<integer>10</integer>
			<key>vid</key>
			<integer>1</integer>
			<key>vpriv</key>
			<integer>0</integer>
			<key>vtype</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>optDict</key>
			<dict>
				<key>autoscale</key>
				<string>1</string>
				<key>graph</key>
				<string>1</string>
				<key>nswl</key>
				<string>0</string>
				<key>privacy</key>
				<string>1</string>
			</dict>
			<key>vGraphType</key>
			<integer>1</integer>
			<key>valueName</key>
			<string>fuel</string>
			<key>vcolor</key>
			<integer>1</integer>
			<key>vid</key>
			<integer>2</integer>
			<key>vpriv</key>
			<integer>0</integer>
			<key>vtype</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>optDict</key>
			<dict>
				<key>autoscale</key>
				<string>1</string>
				<key>graph</key>
				<string>1</string>
				<key>nswl</key>
				<string>0</string>
				<key>privacy</key>
				<string>1</string>
			</dict>
			<key>vGraphType</key>
			<integer>3</integer>
			<key>valueName</key>
			<string>total cost</string>
			<key>vcolor</key>
			<integer>0</integer>
			<key>vid</key>
			<integer>7</integer>
			<key>vpriv</key>
			<integer>0</integer>
			<key>vtype</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>optDict</key>
			<dict>
				<key>graph</key>
				<string>0</string>
				<key>privacy</key>
				<string>1</string>
			</dict>
			<key>vGraphType</key>
			<integer>0</integer>
			<key>valueName</key>
			<string>tank full</string>
			<key>vcolor</key>
			<integer>2</integer>
			<key>vid</key>
			<integer>3</integer>
			<key>vpriv</key>
			<integer>0</integer>
			<key>vtype</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>optDict</key>
			<dict>
				<key>graph</key>
				<string>1</string>
				<key>privacy</key>
				<string>1</string>
				<key>tbhi</key>
				<string>0</string>
				<key>tbni</key>
				<string>1</string>
				<key>tbnl</key>
				<string>0</string>
			</dict>
			<key>vGraphType</key>
			<integer>0</integer>
			<key>valueName</key>
			<string>notes</string>
			<key>vcolor</key>
			<integer>3</integer>
			<key>vid</key>
			<integer>4</integer>
			<key>vpriv</key>
			<integer>0</integer>
			<key>vtype</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>optDict</key>
			<dict>
				<key>autoscale</key>
				<string>1</string>
				<key>fnddp</key>
				<string>2</string>
				<key>frep0</key>
				<string>3</string>
				<key>frep1</key>
				<string>3</string>
				<key>func</key>
				<string>-1 1 -9 -3 2</string>
				<key>graph</key>
				<string>1</string>
				<key>privacy</key>
				<string>1</string>
			</dict>
			<key>vGraphType</key>
			<integer>3</integer>
			<key>valueName</key>
			<string>mileage</string>
			<key>vcolor</key>
			<integer>5</integer>
			<key>vid</key>
			<integer>5</integer>
			<key>vpriv</key>
			<integer>0</integer>
			<key>vtype</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>optDict</key>
			<dict>
				<key>autoscale</key>
				<string>1</string>
				<key>fnddp</key>
				<string>2</string>
				<key>frep0</key>
				<string>3</string>
				<key>frep1</key>
				<string>3</string>
				<key>func</key>
				<string>-1 1</string>
				<key>graph</key>
				<string>1</string>
				<key>privacy</key>
				<string>1</string>
			</dict>
			<key>vGraphType</key>
			<integer>1</integer>
			<key>valueName</key>
			<string>distance</string>
			<key>vcolor</key>
			<integer>10</integer>
			<key>vid</key>
			<integer>6</integer>
			<key>vpriv</key>
			<integer>0</integer>
			<key>vtype</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>optDict</key>
			<dict>
				<key>autoscale</key>
				<string>1</string>
				<key>fnddp</key>
				<string>2</string>
				<key>frep0</key>
				<string>-2</string>
				<key>frep1</key>
				<string>2</string>
				<key>frv0</key>
				<string>1</string>
				<key>func</key>
				<string>7 -9 2</string>
				<key>graph</key>
				<string>1</string>
				<key>privacy</key>
				<string>1</string>
			</dict>
			<key>vGraphType</key>
			<integer>0</integer>
			<key>valueName</key>
			<string>price</string>
			<key>vcolor</key>
			<integer>4</integer>
			<key>vid</key>
			<integer>8</integer>
			<key>vpriv</key>
			<integer>0</integer>
			<key>vtype</key>
			<integer>6</integer>
		</dict>
	</array>
</dict>
</plist>
