<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optDict</key>
	<dict>
		<key>height</key>
		<real>18</real>
		<key>name</key>
		<string>☕️🍷 Drinks</string>
		<key>privacy</key>
		<string>1</string>
		<key>savertn</key>
		<string>1</string>
		<key>width</key>
		<real>86</real>
	</dict>
	<key>tid</key>
	<integer>2</integer>
	<key>valObjTable</key>
	<array>
		<dict>
			<key>optDict</key>
			<dict>
				<key>graph</key>
				<string>0</string>
				<key>privacy</key>
				<string>1</string>
			</dict>
			<key>vGraphType</key>
			<integer>0</integer>
			<key>valueName</key>
			<string>coffee</string>
			<key>vcolor</key>
			<integer>0</integer>
			<key>vid</key>
			<integer>1</integer>
			<key>vpriv</key>
			<integer>0</integer>
			<key>vtype</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>optDict</key>
			<dict>
				<key>graph</key>
				<string>0</string>
				<key>privacy</key>
				<string>1</string>
			</dict>
			<key>vGraphType</key>
			<integer>0</integer>
			<key>valueName</key>
			<string>espresso</string>
			<key>vcolor</key>
			<integer>0</integer>
			<key>vid</key>
			<integer>2</integer>
			<key>vpriv</key>
			<integer>0</integer>
			<key>vtype</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>optDict</key>
			<dict>
				<key>graph</key>
				<string>0</string>
				<key>privacy</key>
				<string>1</string>
			</dict>
			<key>vGraphType</key>
			<integer>0</integer>
			<key>valueName</key>
			<string>tea</string>
			<key>vcolor</key>
			<integer>8</integer>
			<key>vid</key>
			<integer>6</integer>
			<key>vpriv</key>
			<integer>0</integer>
			<key>vtype</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>optDict</key>
			<dict>
				<key>graph</key>
				<string>0</string>
				<key>privacy</key>
				<string>1</string>
			</dict>
			<key>vGraphType</key>
			<integer>0</integer>
			<key>valueName</key>
			<string>other caffeine</string>
			<key>vcolor</key>
			<integer>4</integer>
			<key>vid</key>
			<integer>11</integer>
			<key>vpriv</key>
			<integer>0</integer>
			<key>vtype</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>optDict</key>
			<dict>
				<key>graph</key>
				<string>0</string>
				<key>privacy</key>
				<string>1</string>
			</dict>
			<key>vGraphType</key>
			<integer>0</integer>
			<key>valueName</key>
			<string>wine</string>
			<key>vcolor</key>
			<integer>2</integer>
			<key>vid</key>
			<integer>3</integer>
			<key>vpriv</key>
			<integer>0</integer>
			<key>vtype</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>optDict</key>
			<dict>
				<key>graph</key>
				<string>0</string>
				<key>privacy</key>
				<string>1</string>
			</dict>
			<key>vGraphType</key>
			<integer>0</integer>
			<key>valueName</key>
			<string>beer</string>
			<key>vcolor</key>
			<integer>3</integer>
			<key>vid</key>
			<integer>4</integer>
			<key>vpriv</key>
			<integer>0</integer>
			<key>vtype</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>optDict</key>
			<dict>
				<key>graph</key>
				<string>0</string>
				<key>privacy</key>
				<string>1</string>
			</dict>
			<key>vGraphType</key>
			<integer>0</integer>
			<key>valueName</key>
			<string>hard alc</string>
			<key>vcolor</key>
			<integer>4</integer>
			<key>vid</key>
			<integer>5</integer>
			<key>vpriv</key>
			<integer>0</integer>
			<key>vtype</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>optDict</key>
			<dict>
				<key>autoscale</key>
				<string>1</string>
				<key>fnddp</key>
				<string>2</string>
				<key>frep0</key>
				<string>-3</string>
				<key>frep1</key>
				<string>-1</string>
				<key>frv0</key>
				<string>1</string>
				<key>func</key>
				<string>-2 1 -6 -2 2 -6 -2 6 -6 -2 11</string>
				<key>graph</key>
				<string>1</string>
				<key>privacy</key>
				<string>1</string>
			</dict>
			<key>vGraphType</key>
			<integer>2</integer>
			<key>valueName</key>
			<string>caffeine</string>
			<key>vcolor</key>
			<integer>4</integer>
			<key>vid</key>
			<integer>7</integer>
			<key>vpriv</key>
			<integer>0</integer>
			<key>vtype</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>optDict</key>
			<dict>
				<key>autoscale</key>
				<string>1</string>
				<key>fnddp</key>
				<string>2</string>
				<key>frep0</key>
				<string>-3</string>
				<key>frep1</key>
				<string>-1</string>
				<key>frv0</key>
				<string>1</string>
				<key>func</key>
				<string>-2 3 -6 -2 4 -6 -2 5</string>
				<key>graph</key>
				<string>1</string>
				<key>privacy</key>
				<string>1</string>
			</dict>
			<key>vGraphType</key>
			<integer>2</integer>
			<key>valueName</key>
			<string>alcohol</string>
			<key>vcolor</key>
			<integer>0</integer>
			<key>vid</key>
			<integer>8</integer>
			<key>vpriv</key>
			<integer>0</integer>
			<key>vtype</key>
			<integer>6</integer>
		</dict>
	</array>
</dict>
</plist>
